body{
    font-family: monospace;
    background-color: lightgrey;
  }
  
  .outputBox{
    min-height: 80px;
    width: 60%;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
  }
  
  button{
    background-color: rgb(153, 236, 9);
    padding: 10px;
    font-family: monospace;
    border: none;
    
  }
  
  header{
    background: pink;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  select{
    padding: 10px;
    font-family: monospace;
    cursor: pointer;
  }
  
  input{
    padding: 10px;
    font-family: monospace;
  }
  